html{
    scroll-behavior: smooth;
    padding: 30px;
    background-color: black;
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
a{
    text-decoration: none;

}
.section-container{
    background-color: black;
    color: white;
    height: 100vh;
    width: auto;
    padding : 30px 0px;
    
}